@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  /* primary color */
  --primary-color-darker: #22252a;
  --primary-color-dark: #2e3238;
  --primary-color: #393e46;
  --primary-color-light: #61656b;
  --primary-color-lighter: #74787e;

  /* secondary colors */
  --secondary-color-darker: #1e4e6e;
  --secondary-color-dark: #286893;
  --secondary-color: #3282b8;
  --secondary-color-light: #5b9bc6;
  --secondary-color-lighter: #84b4d4;

  --secondary-color-background: rgba(235, 243, 248, 0.708);

  --third-color-dark: #b32045;
  --third-color: #ff2e63;
  --third-color-light: #ff6d92;

  --white-like-color: #eeeeee;
  --black-like-color: #222831;

  --black-color: #000;
  --white-color: #fff;
  --red-color-light: #e84646;
  --red-color: #e21818;
  --red-color-dark: #9e1111;
  --green-color-dark: #427451;
  --green-color: #539165;
  --green-color-light: #75a784;

  /* fonts */
  --small-font: 1rem;
  --regular-font: 1.4rem;
  --medium-font: 1.9rem;
  --big-font: 2.8rem;
  --large-font: 3.9rem;
  --very-large-font: 5.65rem;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  /* overflow-y: hidden; */
  height: 100vh;
  background-color: var(--white-like-color);
  color: var(--primary-color-light);
  position: relative;
}
